{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "teach/smarton/base.html" %}

{% block page_title %}{{ _('Get smart on cybersecurity') }}{% endblock %}
{% block page_desc %}{{ _('Get smart on cybersecurity') }}{% endblock %}
{% block body_id %}smarton-security{% endblock %}
{% block body_class %}smarton theme-security{% endblock %}

{% block smarton_content %}
<article class="main">

  {{ smarton_navbar(_('Cybersecurity'), _('Get smart on cybersecurity'), 'https://mzl.la/foo') }}

  <section class="section" id="ask">
    <div class="content">

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">

      <h2 class="section-title">{{ _('Ask yourself') }}</h2>

      <ol class="big-list">
        <li>
          <p>{{ _('Do you check for a secure connection when browsing the Web? Do you know how to recognize one?') }}</p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M33.289,59.43c-0.571,0-1.143,0-1.714,0c-12.8-0.801-23.086-8.916-26.172-20.572 c-1.714-6.171-0.914-13.714,1.943-19.885c-1.028,0.229-2.171-0.115-2.857-1.029c-0.914-1.257-0.686-2.971,0.571-3.886 C8.489,11.543,12.489,9.372,16.718,8c2.4-1.6,5.029-2.743,7.771-3.429c1.143-0.229,2.286,0.343,2.973,1.257 C36.375,5.372,45.517,8,52.489,15.2c3.314,3.428,8.8,10.514,8.57,19.886c-0.113,6.285-2.742,12-7.656,16.457 C48.146,56.57,40.489,59.43,33.289,59.43z M19.232,13.028c-2.286,1.6-4.229,3.657-5.714,6.172c-3.2,5.371-4.343,12.571-2.743,18.399 c2.514,9.258,10.856,15.771,21.144,16.344c6.285,0.457,13.143-2.059,17.828-6.286c2.628-2.399,5.715-6.515,5.828-12.457 c0.114-7.314-4.344-13.143-7.086-16C40.489,10.857,29.06,9.829,19.232,13.028z"/>
            <path class="number" fill="#CCCCCC" d="M32.261,47.886c-0.229,0-0.571,0-0.801-0.114c-1.486-0.457-2.285-1.942-1.828-3.429 c1.6-5.37,3.428-13.714,4.228-20.571L30.203,25.6c-0.114,0.114-0.229,0.229-0.457,0.229l-0.571,0.343 c-1.371,0.686-2.972,0.114-3.658-1.257c-0.686-1.371-0.113-2.971,1.144-3.657l9.029-4.8C36.604,16,37.632,16,38.433,16.571 c0.799,0.572,1.371,1.486,1.257,2.4c-0.229,8.114-2.63,19.886-4.8,26.856C34.546,47.086,33.517,47.886,32.261,47.886z"/>
          </svg>
        </li>
        <li>
          <p>{{ _('Are you doing as much to secure your online information as you do your personal property?') }}</p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M33.265,59.43c-2.17,0-4.342-0.229-6.399-0.688c-7.886-1.6-14.515-6.172-18.629-12.799 c-4.343-6.973-4.457-16.687-0.229-23.772c2.4-4,5.143-7.314,8.458-10.057c-0.229-0.229-0.458-0.571-0.572-0.914 c-0.571-1.372,0-3.086,1.486-3.657c3.771-1.6,7.657-2.286,11.543-2.171c0.799-0.229,1.484-0.458,2.285-0.686 c1.258-0.343,2.514,0.229,3.085,1.257c9.485,1.714,17.942,7.085,22.286,12.114c7.428,8.457,7.314,22.743-0.113,31.314 C50.865,55.771,42.179,59.43,33.265,59.43z M29.494,11.086c-7.429,2.743-12.686,7.085-16.8,13.942 c-3.086,5.257-3.086,12.687,0.229,17.943c3.314,5.372,8.685,9.029,15.085,10.287c9.143,1.828,18.627-1.144,24.342-7.658 c5.601-6.398,5.601-17.6,0.115-24C48.009,16.686,38.753,11.543,29.494,11.086z"/>
            <path class="number" fill="#CCCCCC" d="M42.98,45.258L42.98,45.258H24.009c-1.028,0-2.058-0.572-2.515-1.601c-0.457-1.029-0.343-2.171,0.343-2.972 c3.086-3.771,6.286-7.543,9.258-11.314c0.113-0.229,0.342-0.458,0.57-0.686c0.571-0.686,2.172-2.514,2.514-3.314 c0-0.114-0.229-0.343-0.342-0.343c-0.457-0.457-1.258-0.686-1.83-0.571c-0.914,0.114-1.942,0.686-2.742,1.372 c-0.229,0.8-0.801,1.486-1.601,1.829l-1.143,0.457c-1.257,0.571-2.628,0.114-3.314-1.028c-0.686-1.143-0.571-2.515,0.343-3.543 c2.172-2.171,4.571-4.229,7.771-4.686c2.171-0.343,4.572,0.343,6.286,1.829c1.485,1.257,2.286,2.972,2.171,4.686 c0,2.057-1.714,4.229-3.771,6.743c-0.229,0.229-0.342,0.457-0.457,0.571c-1.828,2.286-3.656,4.572-5.6,6.857h13.029 c1.484,0,2.742,1.257,2.742,2.742C45.722,44,44.466,45.258,42.98,45.258z"/>
          </svg>
        </li>
        <li>
          <p>{{ _('How many passwords do you use, and how long have you had them?') }}</p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M31.913,61.943c-0.572,0-1.258,0-1.83,0c-9.028-0.572-17.143-5.258-22.17-12.916 C4.027,42.971,2.998,36.229,4.94,29.371c1.143-4.114,3.314-8.114,6.057-11.657c-0.571-0.343-1.028-0.8-1.257-1.372 c-0.572-1.371,0.114-2.971,1.485-3.657c2.4-0.914,4.572-1.714,6.743-2.4c3.886-3.429,8-6.171,11.771-7.886 c1.371-0.686,2.971-0.114,3.657,1.372c0.687,1.372,0.114,3.085-1.371,3.657c-0.571,0.229-1.028,0.457-1.6,0.8 c2.057-0.114,4.228-0.114,6.628,0c10.857,0.457,20.113,8,23.086,18.857c2.285,8,0,17.485-5.715,24.114 C48.827,58.057,40.599,61.943,31.913,61.943z M20.713,15.2c-4.8,4.457-8.8,9.943-10.4,15.657c-1.486,5.372-0.8,10.401,2.286,15.086 c4,6.171,10.514,10.057,17.829,10.514c7.542,0.457,14.856-2.742,20-8.686c4.457-5.258,6.286-12.914,4.571-19.086 c-2.399-8.457-9.601-14.4-18.058-14.857C30.655,13.372,25.855,13.829,20.713,15.2z"/>
            <path class="number" fill="#CCCCCC" d="M32.484,47.771c-2.057,0-4-0.457-5.714-1.486c-2.971-1.715-5.143-4.686-5.6-8.113 c-0.229-1.486,0.8-2.857,2.4-3.086c1.484-0.229,2.856,0.8,3.084,2.4c0.229,1.714,1.258,3.199,2.743,4 c1.486,0.799,3.543,1.027,5.485,0.342c1.829-0.57,3.314-1.942,3.543-3.428c0.229-1.373-0.57-2.629-1.485-3.314 c-1.257-1.029-3.085-1.715-5.028-2.4c-1.256-0.457-2.057-1.714-1.828-3.085c0.228-1.371,1.371-2.286,2.742-2.286l0,0 c1.258,0,2.629-1.029,3.086-2.171c0.344-1.143,0-2.4-0.801-2.972c-0.914-0.572-2.514-0.343-3.428,0.571 c-1.143,1.029-2.857,0.915-3.886-0.229c-1.029-1.143-0.915-2.857,0.229-3.886c2.742-2.514,6.971-2.971,10.057-1.143 c3.086,1.943,4.343,6.057,3.086,9.486c-0.457,1.143-1.028,2.057-1.829,2.971c0.458,0.343,0.915,0.571,1.258,0.914 c2.629,2.287,3.886,5.486,3.313,8.572c-0.686,3.313-3.543,6.286-7.313,7.543C35.228,47.543,33.856,47.771,32.484,47.771z"/>
          </svg>
        </li>
      </ol>

    </div>
  </section>

  <section id="know" class="section section-know">
    <div class="content">

      <h2 class="section-title">{{ _('Cybersecurity explained') }}</h2>
      <p class="section-intro">
        {{ _('As intimidating as it may sound, cybersecurity is actually really simple: it just means protecting yourself and your information online.') }}
        {{ _('You can’t prevent every threat out there – online or off.') }}
        {{ _('But you can definitely minimize your risk with some awareness and common sense.') }}
      </p>

      <figure class="video">
        <iframe width="780" height="439" src="https://www.youtube.com/embed/NqxUdc0P6YE" frameborder="0" allowfullscreen>
          <p><a href="https://www.youtube.com/watch?v=NqxUdc0P6YE">{{ _('Watch this video') }}</a></p>
        </iframe>
        <figcaption>
          <p>{{ _('This PBS’ Nova Labs video offers great background on cybersecurity.') }}</p>
        </figcaption>
      </figure>

      <aside class="callout">
        <section>
          <p>{{ _('Visit our cybersecurity glossary on <a href="{url}">Shape of the Web</a> to nerd out on security terms and techniques.').format(url='https://shapeoftheweb.mozilla.org/trust/security')|safe }}</p>
        </section>

        <section class="chart">
          <p>
            <span class="number">77<sup>%</sup></span>
            {# L10n: This fragment follows the number '77%' #}
            {{ _('of Internet users are concerned about someone hacking into their online accounts and stealing personal information like photos and private messages.') }}
            {# L10n: "CIGI IPSOS" is an acronym and should not be translated #}
            <cite><a href="https://www.cigionline.org/sites/default/files/survey/slides.pdf">{{ _('(CIGI IPSOS, November 2014)') }}</a></cite>
          </p>
        </section>
      </aside>

      <h3>{{ _('The Three Watch-Outs') }}</h3>
      <p>{{ _('Protecting yourself starts with knowing what to look out for. Here’s a quick rundown of the three most common cybersecurity threats:') }}</p>

      <div class="tip with-graphic">
        <img class="graphic" width="96" height="96" src="{{ static('img/teach/smarton/security/manipulation.svg') }}" alt="">
        <h4>{{ _('Manipulation') }}</h4>
        <p>
          {{ _('Malicious hackers use all kinds of tricks to access and exploit your personal information.') }}
          {{ _('Like phishing (e.g. a fake bank email asking for your personal information), spamming, hacked accounts and the classic “Nigerian Prince” email (also called a “419 scam”).') }}
          {{ _('Healthy skepticism is your best friend on this front.') }}
        </p>

        <p><a href="http://cbsphishingquiz.mcafee.com/" class="go">{{ _('Test your phishing knowledge') }}</a></p>
      </div>

      <div class="tip with-graphic">
        <img class="graphic" width="96" height="96" src="{{ static('img/teach/smarton/security/malware.svg') }}" alt="">
        <h4>{{ _('Malware') }}</h4>
        <p>
          {{ _('Viruses, worms, Trojan horses… These nasty little programs are designed to infect your machine to cause damage, steal personal information, spy or force ads on you.') }}
          {{ _('Avoiding malware means being smart about where you click.') }}
        </p>
      </div>

      <div class="tip with-graphic">
        <img class="graphic" width="96" height="96" src="{{ static('img/teach/smarton/security/networkattacks.svg') }}" alt="">
        <h4>{{ _('Network and Computer Attacks') }}</h4>
        <p>
          {{ _('Websites and networks are vulnerable to attacks from the simple to the very sophisticated.') }}
          {{ _('This threat is the hardest to prevent. But you can put a few more barriers between yourself and the attackers.') }}
        </p>
      </div>

    </div>
  </section>

  <section id="do" class="section section-do">
    <div class="content">

      <h2 class="section-title">{{ _('Build your safety net') }}</h2>
      <p class="section-intro">{{ _('Improve your security online with these safety measures recommended by Mozilla policy pros.') }}</p>

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">

      <h3>{{ _('Look both ways') }}</h3>
      <p>{{ _('The first and most important thing is just to pay close attention to where and when you click.') }}</p>

      <div class="tip">
        <h4>{{ _('Trust your gut') }}</h4>
        <p>
          {{ _('If a link or download doesn’t feel quite right, it probably isn’t.') }}
          {{ _('Make sure you install programs only from verified trusted sources, and don’t click on anything that looks even remotely suspicious – even when you think you know the source.') }}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Watch yourself in public') }}</h4>
        <p>
          {{ _('When you navigate the Web on a public WiFi network, anyone who chooses to snoop can see some or all of your activity.') }}
          {{ _('So avoid sensitive activities when surfing in public.') }}
          {{ _('And before you share any kind of info anywhere online, think about how it might make you vulnerable.') }}
        </p>
      </div>

      <h3>{{ _('Lock your doors') }}</h3>
      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">
      <p>{{ _('Strong password practices are your single best protection against almost every kind of threat on the Web.') }}</p>

      <div class="tip">
        <h4>{{ _('Choose strong PINs and passwords') }}</h4>
        <p>
          {{ _('Here are some Mozilla <a href="{url}">tips for creating a strong password for every device and account</a>.').format(url='https://support.mozilla.org/kb/create-secure-passwords-keep-your-identity-safe')|safe }}
          {{ _('And get in the habit of changing your passwords once a year.') }}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Don’t use a single password everywhere') }}</h4>
        <p>
          {{ _('Would you use the same key for your front door, your car, and your safety deposit box? Probably not.') }}
          {{ _('<a href="{url}">Keep track with a password manager</a> instead.').format(url='https://support.mozilla.org/kb/password-manager-remember-delete-change-passwords')|safe }}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Do the two-step') }}</h4>
        <p>
          {{ _('For the best protection, take advantage of 2-step authentication wherever it’s offered.') }}
          <a href="http://stopthinkconnect.org/2stepsahead/resources">{{ _('Find out more.') }}</a>
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('In case of emergency') }}</h4>
        <p>{{ _('Here’s what to do <a href="{url}">if you think your account has been compromised</a>.').format(url='https://www.staysafeonline.org/stay-safe-online/keep-a-clean-machine/hacked-accounts')|safe }}</p>
      </div>

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">
      <h3>{{ _('Fix it before it breaks') }}</h3>
      <p>
        {{ _('Software updates are like oil changes ­– they can be a hassle in the moment, but a lifesaver in hindsight.') }}
        {{ _('Update apps and devices regularly to take advantage of developers’ latest and greatest security enhancements.') }}
      </p>

      <div class="columns columns-2 with-graphic">
        <div class="col">
          <h4>{{ _('Operating systems') }}</h4>
          <ul>
            <li><a href="http://windows.microsoft.com/en-US/windows7/products/features/windows-update" class="go">Windows</a></li>
            <li><a href="https://support.apple.com/en-us/HT201541" class="go">Mac</a></li>
          </ul>

          <h4>{{ _('Other programs') }}</h4>
          <p>{{ _('These assistants check if all programs on your computer are up to date:') }}</p>
          <ul>
            <li>{{ _('Windows: <a href="{url}" class="go">Secunia Personal Software inspector</a>').format(url='http://secunia.com/vulnerability_scanning/personal/')|safe }}</li>
            <li>{{ _('Mac: <a href="{url}" class="go">AppFresh</a>').format(url='http://metaquark.de/appfresh/mac')|safe }}</li>
          </ul>
        </div>

        <div class="col">
          <h4>{{ _('Browsers') }}</h4>
          <ul>
            <li><a href="https://support.mozilla.org/kb/update-firefox-latest-version" class="go">{{ _('Firefox update') }}</a></li>
            <li><a href="{{ url('mozorg.plugincheck') }}" class="go">{{ _('Firefox plugin check') }}</a></li>
          </ul>
          <ul>
            <li><a href="https://support.google.com/chrome/answer/95414" class="go">{{ _('Chrome update') }}</a></li>
            <li><a href="https://support.google.com/chrome/answer/1181003" class="go">{{ _('Chrome plugin check') }}</a></li>
          </ul>
          <ul>
            <li><a href="http://pcsupport.about.com/od/browsers/fl/internet-explorer-version.htm" class="go">{{ _('Internet Explorer update') }}</a></li>
            <li><a href="http://windows.microsoft.com/en-us/internet-explorer/manage-add-ons" class="go">{{ _('Internet Explorer plugin check') }}</a></li>
          </ul>
          <ul>
            <li><a href="https://support.apple.com/HT204416" class="go">{{ _('Safari update') }}</a></li>
            <li><a href="https://support.apple.com/HT202819" class="go">{{ _('Safari plugin check') }}</a></li>
          </ul>
        </div>
      </div>

      <br style="clear:both;">

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">
      <h3>{{ _('Install a security system') }}</h3>
      <p>
        {{ _('Now that you’ve handled the basics, set the alarm.') }}
        {{ _('These programs prevent and protect against cyber surprises.') }}
      </p>

      <div class="columns columns-2 with-graphic">
        <div class="col">
          <h4>{{ _('Anti-virus software') }}</h4>
          <p>
            {{ _('It won’t protect against everything, but it’s a good start.') }}
            {{ _('Here are two free options:') }}
          </p>
          <ul>
            <li><a href="https://www.avast.com/">Avast</a></li>
            <li><a href="http://www.bitdefender.com/solutions/free.html">BitDefender</a></li>
          </ul>
        </div>

        <div class="col">
          <h4>{{ _('Firefox Add-ons') }}</h4>
          <p>{{ _('These add-ons will help you identify what you’re clicking before you click:') }}</p>
          <ul>
            <li>
              {{ _('<a href="{url}">Long URL please</a> — replaces most shortened URLs with the originals so you know the destination').format(url='https://addons.mozilla.org/firefox/addon/long-url-please/')|safe }}
            </li>
            <li>
              {{ _('<a href="{url}">URL Tooltip</a> — displays the destination of a link when hovering over it').format(url='https://addons.mozilla.org/firefox/addon/url-tooltip/')|safe }}
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section id="chat" class="section section-chat">
    <div class="content">

      <h2 class="section-title">{{ _('Blast your cybersecurity smarts') }}</h2>
      <p class="section-intro">
        {{ _('The more we talk, share tips and stay alert about cybersecurity, the safer we all are.') }}
        {{ _('Keep the conversation going with your community on social media, at home — maybe even on that public Wi-Fi at the airport.') }}
      </p>

      <aside class="callout">
        <p>{{ _('Connect with your community to explore topics related to privacy and tracking by joining or starting a <a href="{url}">Mozilla Club</a>.').format(url='https://teach.mozilla.org/clubs/')|safe }}</p>
      </aside>

      <aside class="callout">
        <p>{{ _('Are you a teacher? Give your students a <a href="{url}">simple lesson on government surveillance</a>.').format(url='https://teach.mozilla.org/activities/')|safe }}</p>
      </aside>

      <ol class="big-list">
        <li>
          <p>
            {{ _('How many online passwords do you have?') }}
            <a class="tweet-this" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&amp;text=%s'|format('https://mzl.la/foo'|urlencode, _('How many online passwords do you have?')|urlencode)|e }}">{{ _('Tweet this') }}</a>
          </p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M33.289,59.43c-0.571,0-1.143,0-1.714,0c-12.8-0.801-23.086-8.916-26.172-20.572 c-1.714-6.171-0.914-13.714,1.943-19.885c-1.028,0.229-2.171-0.115-2.857-1.029c-0.914-1.257-0.686-2.971,0.571-3.886 C8.489,11.543,12.489,9.372,16.718,8c2.4-1.6,5.029-2.743,7.771-3.429c1.143-0.229,2.286,0.343,2.973,1.257 C36.375,5.372,45.517,8,52.489,15.2c3.314,3.428,8.8,10.514,8.57,19.886c-0.113,6.285-2.742,12-7.656,16.457 C48.146,56.57,40.489,59.43,33.289,59.43z M19.232,13.028c-2.286,1.6-4.229,3.657-5.714,6.172c-3.2,5.371-4.343,12.571-2.743,18.399 c2.514,9.258,10.856,15.771,21.144,16.344c6.285,0.457,13.143-2.059,17.828-6.286c2.628-2.399,5.715-6.515,5.828-12.457 c0.114-7.314-4.344-13.143-7.086-16C40.489,10.857,29.06,9.829,19.232,13.028z"/>
            <path class="number" fill="#CCCCCC" d="M32.261,47.886c-0.229,0-0.571,0-0.801-0.114c-1.486-0.457-2.285-1.942-1.828-3.429 c1.6-5.37,3.428-13.714,4.228-20.571L30.203,25.6c-0.114,0.114-0.229,0.229-0.457,0.229l-0.571,0.343 c-1.371,0.686-2.972,0.114-3.658-1.257c-0.686-1.371-0.113-2.971,1.144-3.657l9.029-4.8C36.604,16,37.632,16,38.433,16.571 c0.799,0.572,1.371,1.486,1.257,2.4c-0.229,8.114-2.63,19.886-4.8,26.856C34.546,47.086,33.517,47.886,32.261,47.886z"/>
          </svg>
        </li>
        <li>
          <p>
            {{ _('What kind of security tips and tricks do you use online?') }}
            <a class="tweet-this" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&amp;text=%s'|format('https://mzl.la/foo'|urlencode, _('What kind of security tips and tricks do you use online?')|urlencode)|e }}">{{ _('Tweet this') }}</a>
          </p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M33.265,59.43c-2.17,0-4.342-0.229-6.399-0.688c-7.886-1.6-14.515-6.172-18.629-12.799 c-4.343-6.973-4.457-16.687-0.229-23.772c2.4-4,5.143-7.314,8.458-10.057c-0.229-0.229-0.458-0.571-0.572-0.914 c-0.571-1.372,0-3.086,1.486-3.657c3.771-1.6,7.657-2.286,11.543-2.171c0.799-0.229,1.484-0.458,2.285-0.686 c1.258-0.343,2.514,0.229,3.085,1.257c9.485,1.714,17.942,7.085,22.286,12.114c7.428,8.457,7.314,22.743-0.113,31.314 C50.865,55.771,42.179,59.43,33.265,59.43z M29.494,11.086c-7.429,2.743-12.686,7.085-16.8,13.942 c-3.086,5.257-3.086,12.687,0.229,17.943c3.314,5.372,8.685,9.029,15.085,10.287c9.143,1.828,18.627-1.144,24.342-7.658 c5.601-6.398,5.601-17.6,0.115-24C48.009,16.686,38.753,11.543,29.494,11.086z"/>
            <path class="number" fill="#CCCCCC" d="M42.98,45.258L42.98,45.258H24.009c-1.028,0-2.058-0.572-2.515-1.601c-0.457-1.029-0.343-2.171,0.343-2.972 c3.086-3.771,6.286-7.543,9.258-11.314c0.113-0.229,0.342-0.458,0.57-0.686c0.571-0.686,2.172-2.514,2.514-3.314 c0-0.114-0.229-0.343-0.342-0.343c-0.457-0.457-1.258-0.686-1.83-0.571c-0.914,0.114-1.942,0.686-2.742,1.372 c-0.229,0.8-0.801,1.486-1.601,1.829l-1.143,0.457c-1.257,0.571-2.628,0.114-3.314-1.028c-0.686-1.143-0.571-2.515,0.343-3.543 c2.172-2.171,4.571-4.229,7.771-4.686c2.171-0.343,4.572,0.343,6.286,1.829c1.485,1.257,2.286,2.972,2.171,4.686 c0,2.057-1.714,4.229-3.771,6.743c-0.229,0.229-0.342,0.457-0.457,0.571c-1.828,2.286-3.656,4.572-5.6,6.857h13.029 c1.484,0,2.742,1.257,2.742,2.742C45.722,44,44.466,45.258,42.98,45.258z"/>
          </svg>
        </li>
        <li>
          <p>
            {{ _('On a scale from 1 to 10, how safe do you feel online?') }}
            {{ _('Is it always clear to you whether or not your activities are secure?') }}
            <a class="tweet-this" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&amp;text=%s'|format('https://mzl.la/foo'|urlencode, _('On a scale from 1 to 10, how safe do you feel online?')|urlencode)|e }}">{{ _('Tweet this') }}</a>
          </p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M31.913,61.943c-0.572,0-1.258,0-1.83,0c-9.028-0.572-17.143-5.258-22.17-12.916 C4.027,42.971,2.998,36.229,4.94,29.371c1.143-4.114,3.314-8.114,6.057-11.657c-0.571-0.343-1.028-0.8-1.257-1.372 c-0.572-1.371,0.114-2.971,1.485-3.657c2.4-0.914,4.572-1.714,6.743-2.4c3.886-3.429,8-6.171,11.771-7.886 c1.371-0.686,2.971-0.114,3.657,1.372c0.687,1.372,0.114,3.085-1.371,3.657c-0.571,0.229-1.028,0.457-1.6,0.8 c2.057-0.114,4.228-0.114,6.628,0c10.857,0.457,20.113,8,23.086,18.857c2.285,8,0,17.485-5.715,24.114 C48.827,58.057,40.599,61.943,31.913,61.943z M20.713,15.2c-4.8,4.457-8.8,9.943-10.4,15.657c-1.486,5.372-0.8,10.401,2.286,15.086 c4,6.171,10.514,10.057,17.829,10.514c7.542,0.457,14.856-2.742,20-8.686c4.457-5.258,6.286-12.914,4.571-19.086 c-2.399-8.457-9.601-14.4-18.058-14.857C30.655,13.372,25.855,13.829,20.713,15.2z"/>
            <path class="number" fill="#CCCCCC" d="M32.484,47.771c-2.057,0-4-0.457-5.714-1.486c-2.971-1.715-5.143-4.686-5.6-8.113 c-0.229-1.486,0.8-2.857,2.4-3.086c1.484-0.229,2.856,0.8,3.084,2.4c0.229,1.714,1.258,3.199,2.743,4 c1.486,0.799,3.543,1.027,5.485,0.342c1.829-0.57,3.314-1.942,3.543-3.428c0.229-1.373-0.57-2.629-1.485-3.314 c-1.257-1.029-3.085-1.715-5.028-2.4c-1.256-0.457-2.057-1.714-1.828-3.085c0.228-1.371,1.371-2.286,2.742-2.286l0,0 c1.258,0,2.629-1.029,3.086-2.171c0.344-1.143,0-2.4-0.801-2.972c-0.914-0.572-2.514-0.343-3.428,0.571 c-1.143,1.029-2.857,0.915-3.886-0.229c-1.029-1.143-0.915-2.857,0.229-3.886c2.742-2.514,6.971-2.971,10.057-1.143 c3.086,1.943,4.343,6.057,3.086,9.486c-0.457,1.143-1.028,2.057-1.829,2.971c0.458,0.343,0.915,0.571,1.258,0.914 c2.629,2.287,3.886,5.486,3.313,8.572c-0.686,3.313-3.543,6.286-7.313,7.543C35.228,47.543,33.856,47.771,32.484,47.771z"/>
          </svg>
        </li>
      </ol>

    </div>
  </section>
</article>
{% endblock %}

