{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "teach/smarton/base.html" %}

{% block page_title %}{{ _('Get smart on government surveillance') }}{% endblock %}
{% block page_desc %}{{ _('Get smart on government surveillance') }}{% endblock %}
{% block body_id %}smarton-surveillance{% endblock %}
{% block body_class %}smarton theme-surveillance{% endblock %}

{% block smarton_content %}
<article class="main">

  {{ smarton_navbar(_('Government surveillance'), _('Get smart on government surveillance'), 'https://mzl.la/foo') }}

  <section id="ask" class="section section-ask">
    <div class="content">

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">

      <h2 class="section-title">{{ _('Ask yourself') }}</h2>
      <p class="section-intro">
        {# L10n: This is the first part of a question that is completed in three different ways. #}
        {{ _('If you’re not under investigation, should the government be able to:') }}
      </p>

      {# L10n: These three fragments each complete the question, "If I'm not under investigation, should the government be able to ___?" #}
      <ol class="big-list">
        <li>
          <p>{{ _('monitor your phone calls?') }}</p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M33.289,59.43c-0.571,0-1.143,0-1.714,0c-12.8-0.801-23.086-8.916-26.172-20.572 c-1.714-6.171-0.914-13.714,1.943-19.885c-1.028,0.229-2.171-0.115-2.857-1.029c-0.914-1.257-0.686-2.971,0.571-3.886 C8.489,11.543,12.489,9.372,16.718,8c2.4-1.6,5.029-2.743,7.771-3.429c1.143-0.229,2.286,0.343,2.973,1.257 C36.375,5.372,45.517,8,52.489,15.2c3.314,3.428,8.8,10.514,8.57,19.886c-0.113,6.285-2.742,12-7.656,16.457 C48.146,56.57,40.489,59.43,33.289,59.43z M19.232,13.028c-2.286,1.6-4.229,3.657-5.714,6.172c-3.2,5.371-4.343,12.571-2.743,18.399 c2.514,9.258,10.856,15.771,21.144,16.344c6.285,0.457,13.143-2.059,17.828-6.286c2.628-2.399,5.715-6.515,5.828-12.457 c0.114-7.314-4.344-13.143-7.086-16C40.489,10.857,29.06,9.829,19.232,13.028z"/>
            <path class="number" fill="#CCCCCC" d="M32.261,47.886c-0.229,0-0.571,0-0.801-0.114c-1.486-0.457-2.285-1.942-1.828-3.429 c1.6-5.37,3.428-13.714,4.228-20.571L30.203,25.6c-0.114,0.114-0.229,0.229-0.457,0.229l-0.571,0.343 c-1.371,0.686-2.972,0.114-3.658-1.257c-0.686-1.371-0.113-2.971,1.144-3.657l9.029-4.8C36.604,16,37.632,16,38.433,16.571 c0.799,0.572,1.371,1.486,1.257,2.4c-0.229,8.114-2.63,19.886-4.8,26.856C34.546,47.086,33.517,47.886,32.261,47.886z"/>
          </svg>
        </li>
        <li>
          <p>{{ _('read your emails and view the photos I send?') }}</p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M33.265,59.43c-2.17,0-4.342-0.229-6.399-0.688c-7.886-1.6-14.515-6.172-18.629-12.799 c-4.343-6.973-4.457-16.687-0.229-23.772c2.4-4,5.143-7.314,8.458-10.057c-0.229-0.229-0.458-0.571-0.572-0.914 c-0.571-1.372,0-3.086,1.486-3.657c3.771-1.6,7.657-2.286,11.543-2.171c0.799-0.229,1.484-0.458,2.285-0.686 c1.258-0.343,2.514,0.229,3.085,1.257c9.485,1.714,17.942,7.085,22.286,12.114c7.428,8.457,7.314,22.743-0.113,31.314 C50.865,55.771,42.179,59.43,33.265,59.43z M29.494,11.086c-7.429,2.743-12.686,7.085-16.8,13.942 c-3.086,5.257-3.086,12.687,0.229,17.943c3.314,5.372,8.685,9.029,15.085,10.287c9.143,1.828,18.627-1.144,24.342-7.658 c5.601-6.398,5.601-17.6,0.115-24C48.009,16.686,38.753,11.543,29.494,11.086z"/>
            <path class="number" fill="#CCCCCC" d="M42.98,45.258L42.98,45.258H24.009c-1.028,0-2.058-0.572-2.515-1.601c-0.457-1.029-0.343-2.171,0.343-2.972 c3.086-3.771,6.286-7.543,9.258-11.314c0.113-0.229,0.342-0.458,0.57-0.686c0.571-0.686,2.172-2.514,2.514-3.314 c0-0.114-0.229-0.343-0.342-0.343c-0.457-0.457-1.258-0.686-1.83-0.571c-0.914,0.114-1.942,0.686-2.742,1.372 c-0.229,0.8-0.801,1.486-1.601,1.829l-1.143,0.457c-1.257,0.571-2.628,0.114-3.314-1.028c-0.686-1.143-0.571-2.515,0.343-3.543 c2.172-2.171,4.571-4.229,7.771-4.686c2.171-0.343,4.572,0.343,6.286,1.829c1.485,1.257,2.286,2.972,2.171,4.686 c0,2.057-1.714,4.229-3.771,6.743c-0.229,0.229-0.342,0.457-0.457,0.571c-1.828,2.286-3.656,4.572-5.6,6.857h13.029 c1.484,0,2.742,1.257,2.742,2.742C45.722,44,44.466,45.258,42.98,45.258z"/>
          </svg>
        </li>
        <li>
          <p>{{ _('see what you search for on the Web?') }}</p>

          <svg version="1.1" class="list-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
            <path class="circle" fill="#CCCCCC" d="M31.913,61.943c-0.572,0-1.258,0-1.83,0c-9.028-0.572-17.143-5.258-22.17-12.916 C4.027,42.971,2.998,36.229,4.94,29.371c1.143-4.114,3.314-8.114,6.057-11.657c-0.571-0.343-1.028-0.8-1.257-1.372 c-0.572-1.371,0.114-2.971,1.485-3.657c2.4-0.914,4.572-1.714,6.743-2.4c3.886-3.429,8-6.171,11.771-7.886 c1.371-0.686,2.971-0.114,3.657,1.372c0.687,1.372,0.114,3.085-1.371,3.657c-0.571,0.229-1.028,0.457-1.6,0.8 c2.057-0.114,4.228-0.114,6.628,0c10.857,0.457,20.113,8,23.086,18.857c2.285,8,0,17.485-5.715,24.114 C48.827,58.057,40.599,61.943,31.913,61.943z M20.713,15.2c-4.8,4.457-8.8,9.943-10.4,15.657c-1.486,5.372-0.8,10.401,2.286,15.086 c4,6.171,10.514,10.057,17.829,10.514c7.542,0.457,14.856-2.742,20-8.686c4.457-5.258,6.286-12.914,4.571-19.086 c-2.399-8.457-9.601-14.4-18.058-14.857C30.655,13.372,25.855,13.829,20.713,15.2z"/>
            <path class="number" fill="#CCCCCC" d="M32.484,47.771c-2.057,0-4-0.457-5.714-1.486c-2.971-1.715-5.143-4.686-5.6-8.113 c-0.229-1.486,0.8-2.857,2.4-3.086c1.484-0.229,2.856,0.8,3.084,2.4c0.229,1.714,1.258,3.199,2.743,4 c1.486,0.799,3.543,1.027,5.485,0.342c1.829-0.57,3.314-1.942,3.543-3.428c0.229-1.373-0.57-2.629-1.485-3.314 c-1.257-1.029-3.085-1.715-5.028-2.4c-1.256-0.457-2.057-1.714-1.828-3.085c0.228-1.371,1.371-2.286,2.742-2.286l0,0 c1.258,0,2.629-1.029,3.086-2.171c0.344-1.143,0-2.4-0.801-2.972c-0.914-0.572-2.514-0.343-3.428,0.571 c-1.143,1.029-2.857,0.915-3.886-0.229c-1.029-1.143-0.915-2.857,0.229-3.886c2.742-2.514,6.971-2.971,10.057-1.143 c3.086,1.943,4.343,6.057,3.086,9.486c-0.457,1.143-1.028,2.057-1.829,2.971c0.458,0.343,0.915,0.571,1.258,0.914 c2.629,2.287,3.886,5.486,3.313,8.572c-0.686,3.313-3.543,6.286-7.313,7.543C35.228,47.543,33.856,47.771,32.484,47.771z"/>
          </svg>
        </li>
      </ol>

    </div>
  </section>

  <section id="know" class="section section-know">
    <div class="content">

      <h2 class="section-title">{{ _('Government surveillance explained') }}</h2>

      <p class="section-intro">
        {{ _('Stakeouts have always been an essential tool for law enforcement and national security.') }}
        {{ _('The difference now is that they’ve moved beyond binoculars, bugs and bad guys: surveillance has gone digital.') }}
        {{ _('All that data we generate through our daily activities online allows governments to keep an eye on lots of people at once, in hopes of catching the ones who are up to no good.') }}
        {{ _('It’s like grabbing a giant haystack just in case there might be a needle inside.') }}
      </p>

      <figure class="video">
        <iframe width="780" height="439" src="https://www.youtube.com/embed/RJpmbQTuItE" frameborder="0" allowfullscreen>
          <p><a href="https://www.youtube.com/watch?v=RJpmbQTuItE">{{ _('Watch this video') }}</a></p>
        </iframe>
      </figure>

      <aside class="callout">
        <blockquote>
          <p class="quote">
            {{ _('“Some amount of surveillance for law enforcement and intelligence, properly designed, is valuable to keep us safe. But when it’s too broad, it violates the privacy rights of millions of innocent people, and can even undermine our security.”') }}
          </p>
          <p class="attribute">— Chris Riley, {{ _('Head of Public Policy') }}, Mozilla</p>
        </blockquote>

        <section class="chart">
          <p>
            <span class="number">61<sup>%</sup></span>
            {# L10n: This fragment follows the number '61%' #}
            {{ _('of Internet users are concerned with the police or other government agencies from their country secretly monitoring their online activities') }}
            {# L10n: "CIGI IPSOS" is an acronym and should not be translated #}
            <cite><a href="https://www.cigionline.org/sites/default/files/survey/slides.pdf">{{ _('(CIGI IPSOS, November 2014)') }}</a></cite>
          </p>
        </section>
      </aside>

      <h3>{{ _('Stored info is vulnerable info') }}</h3>
      <p>
        {{ _('In order to tailor personal experiences for you, virtually every technology company you interact with collects and stores some amount of your personal information.') }}
        {{ _('Under certain circumstances, those companies can be forced to <a href="{url}">turn over your information to governments</a>.').format(url='https://shapeoftheweb.mozilla.org/trust/governmentSurveillance')|safe }}
      </p>

      <p>
        {{ _('So what should companies do?') }}
        {{ _('They can be proactive about protecting users’ information by limiting data collection to what’s needed, making data anonymous where possible, and deleting data when it’s no longer necessary.') }}
        <a href="{{ url('privacy.principles') }}">{{ _('This is what we practice at Mozilla.') }}</a>
      </p>

      <h3>{{ _('The solution: Safeguards') }}</h3>
      <p>
        {{ _('When surveillance is too broad or lacks key safeguards – like getting a warrant from a judge – it can be abused, either accidentally or on purpose. And our personal privacy is what’s at stake.') }}
        {{ _('In order to protect our personal liberties and maintain our trust in the Internet, Mozilla’s policy team proposes that government surveillance must follow three fundamental principles:') }}
      </p>

      <div class="tip">
        <h4>{{ _('Minimal impact') }}</h4>
        <p>
          {{ _('Efforts should be made to collect only the information that’s needed, without compromising Internet infrastructure, technology companies’ data systems, or users’ trust.') }}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Accountability') }}</h4>
        <p>
          {{ _('Governments should be held accountable.') }}
          {{ _('This means being transparent and specific about information collection, and answering to independent oversight and to the public.') }}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('User security') }}</h4>
        <p>
          {{ _('Strong encryption and security keep us safe from many kinds of criminals.') }}
          {{ _('Governments shouldn’t weaken the security of all in the name of spying on a few.') }}
        </p>
      </div>

    </div>
  </section>

  <section id="do" class="section section-do">
    <div class="content">

      <h2 class="section-title">{{ _('Act before you react') }}</h2>
      <p class="section-intro">{{ _('We all have the right to live a full online life without fear of surveillance. Rather than give up your freedom, take back your control.') }}</p>

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">
      <h3>{{ _('Take a stand') }}</h3>
      <p>{{ _('The first thing we can all do is keep our eyes and ears out – and make our voices heard.') }}</p>

      <div class="tip">
        <h4>{{ _('Get informed') }}</h4>
        <p>
          {{ _('Start with a simple online search to learn about your government’s stance on surveillance, so you can make informed decisions about your privacy.') }}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Stay updated') }}</h4>
        <p>
          {{ _('Sign up for the <a href="{url}">Mozilla newsletter</a> (English only).').format(url=url('newsletter.subscribe'))|safe }}
          {{ _('We actively track issues of mass surveillance and other threats to the Web, so we’ll let you know about opportunities to speak out.') }}
        </p>
      </div>

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">

      <h3>{{ _('Close your blinds') }}</h3>
      <p>{{ _('These quick steps can help protect you from overreaching surveillance practices.') }}</p>

      <div class="tip">
        <h4>{{ _('Browse carefully') }}</h4>
        <p>
          {{ _('Always look for the padlock in your browser’s address bar.') }}
          <a href="https://support.mozilla.org/kb/how-do-i-tell-if-my-connection-is-secure#w_green-padlock">{{ _('Find out more.') }}</a>
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Cap your camera') }}</h4>
        <p>{{ _('Put a sticker in front of your webcam when you’re not using it.') }}</p>
      </div>

      <div class="tip">
        <h4>{{ _('Watch the Wi-Fi') }}</h4>
        <p>
          {{ _('Be careful when using a public Wi-Fi network.') }}
          <a href="https://www.onguardonline.gov/articles/0014-tips-using-public-wi-fi-networks">{{ _('Find out more') }}</a>
        </p>
      </div>

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">

      <h3>{{ _('Change your locks') }}</h3>
      <p>{{ _('Passwords are an essential tool for shielding information from prying eyes.') }}</p>

      <div class="tip">
        <h4>{{ _('Choose strong PINs and passwords.') }}</h4>
        <p>
          {{ _('Here are some Mozilla <a href="{url}">tips for creating a strong password for every device and account</a>.').format(url='https://support.mozilla.org/kb/create-secure-passwords-keep-your-identity-safe')|safe }}
          {{ _('And get in the habit of changing your passwords once a year.') }}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Don’t use a single password everywhere.') }}</h4>
        <p>
          {{ _('Would you use the same key for your front door, your car, and your safety deposit box? Probably not.') }}
          {{ _('Keep track with a password manager instead.') }}
          {% trans  firefox='https://support.mozilla.org/kb/password-manager-remember-delete-change-passwords',
                    chrome='https://support.google.com/chrome/answer/95606',
                    ie='http://windows.microsoft.com/en-us/internet-explorer/fill-in-forms-remember-passwords-autocomplete',
                    safari='https://support.apple.com/kb/PH19249',
                    opera='http://help.opera.com/Windows/12.00/en/password.html' %}
            See instructions for <a href="{firefox}">Firefox</a>, <a href="{chrome}">Chrome</a>, <a href="{ie}">Internet Explorer</a>, <a href="{safari}">Safari</a> and <a href="{opera}">Opera</a>.
          {% endtrans %}
        </p>
      </div>

      <div class="tip">
        <h4>{{ _('Do the two-step') }}</h4>
        <p>
          {{ _('For the best protection, take advantage of 2-step authentication wherever it’s offered.') }}
          <a href="http://stopthinkconnect.org/2stepsahead/resources">{{ _('Find out more.') }}</a>
        </p>
      </div>

      <img class="block-hero" width="220" height="220" src="{{ static('img/sandstone/grain.png') }}" alt="">

      <h3>{{ _('Try encryption') }}</h3>
      <p>{{ _('Encryption is a bit like scrambling a frequency: it turns information into codes that can only be read if you have the right keys.') }}</p>
      <p>{{ _('No software provides perfect protection from spying, but Mozilla programmers recommend these easy encryption tools to take your online security beyond basic.') }}</p>

      <h4>{{ _('Phone apps') }}</h4>
      <p>{{ _('These apps use encryption to secure your phone calls, texts, picture and video communications.') }}</p>

      <ul class="columns columns-2">
        <li class="col">
          <h5>{{ _('Android') }}</h5>
          <ul>
            <li><a href="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms" class="go">{{ _('TextSecure') }}</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=org.thoughtcrime.redphone" class="go">{{ _('Redphone') }}</a></li>
          </ul>
        </li>
        <li class="col">
          <h5>{{ _('iOS') }}</h5>
          <ul>
            <li><a href="https://itunes.apple.com/app/signal-private-messenger/id874139669" class="go">{{ _('Signal') }}</a></li>
          </ul>
        </li>
      </ul>

      <h4>{{ _('Device encryption') }}</h4>
      <p>{{ _('Use these on your devices to make sure the only eyes that see your personal information are the ones you authorize.') }}</p>

      <ul class="columns columns-2">
        <li class="col">
          <h5>{{ _('Mac') }}</h5>
          <p>{{ _('<a href="{url}">FileVault</a> — a free and built-in way to encrypt your Mac’s startup disk').format(url='https://support.apple.com/HT204837')|safe }}</p>

          <h5>{{ _('Windows') }}</h5>
          <p>
            {{ _('Use <a href="{url1}">BitLocker</a> (Windows Pro) or a free program called <a href="{url2}">Diskcryptor</a> (standard Windows versions).').format(url1='http://windows.microsoft.com/windows-8/bitlocker-drive-encryption',url2='https://diskcryptor.net/wiki/Main_Page')|safe }}
          </p>

          <h5>{{ _('Linux') }}</h5>
          <p>{{ _('Full-disk encryption is usually offered when you set up your system (it’s called LUKS).') }}</p>
        </li>
        <li class="col">
          <h5>{{ _('Android') }}</h5>
          <p>{{ _('<a href="{url}">See instructions here</a> for your Android device.').format(url='https://support.google.com/nexus/answer/2844831?vid=1-635761320342085866-3234499977')|safe }}</p>

          <h5>{{ _('iOS') }}</h5>
          <p>{{ _('Have an iPhone, iPad or iPod? <a href="{url}">See instructions here</a>.').format(url='https://support.apple.com/HT202064')|safe }}</p>
        </li>
      </ul>

    </div>
  </section>

  <section id="chat" class="section section-chat">
    <div class="content">

      <h2 class="section-title">{{ _('Blast your surveillance smarts') }}</h2>
      <p class="section-intro">
        {{ _('Now that you have tools to help protect yourself, spread the word to friends.') }}
        {{ _('The only way we’ll get a handle on this fundamental issue of technology is if we keep the conversation going.') }}
      </p>

      <aside class="callout">
        <p>{{ _('Connect with your community to explore topics related to privacy and tracking by joining or starting a <a href="{url}">Mozilla Club</a>.').format(url='https://teach.mozilla.org/clubs/')|safe }}</p>
      </aside>

      <aside class="callout">
        <p>{{ _('Are you a teacher? Give your students a <a href="{url}">simple lesson on government surveillance</a>.').format(url='https://teach.mozilla.org/activities/')|safe }}</p>
      </aside>

      <ol class="big-list">
        <li>
          <p>
            {{ _('Which would you be more comfortable sharing with the government: your checking account number or your DNA profile?') }}
            <a class="tweet-this" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&amp;text=%s'|format('https://mzl.la/foo'|urlencode, _('Which would you be more comfortable sharing with the government: your checking account number or your DNA profile?')|urlencode)|e }}">{{ _('Tweet this') }}</a>
          </p>
        </li>
        <li>
          <p>
            {{ _('If you had a digital lockbox that no one could see but you, what would you put in it?') }}
            <a class="tweet-this" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&amp;text=%s'|format('https://mzl.la/foo'|urlencode, _('If you had a digital lockbox that no one could see but you, what would you put in it?')|urlencode)|e }}">{{ _('Tweet this') }}</a>
          </p>
        </li>
        <li>
          <p>
            {{ _('Have you stopped sharing certain things online since you found out about mass government surveillance?') }}
            <a class="tweet-this" href="{{ 'https://www.twitter.com/intent/tweet?url=%s&amp;text=%s'|format('https://mzl.la/foo'|urlencode, _('Have you stopped sharing certain things online since you found out about mass government surveillance?')|urlencode)|e }}">{{ _('Tweet this') }}</a>
          </p>
        </li>
      </ol>

    </div>
  </section>
</article>

{% endblock %}
